{% extends 'patient/layout.twig' %}

{% block title %}Patient Change Password{% endblock %}


{% block content %}


      <!-- main -->
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication">
      <!-- Register Card -->
      <div class="card p-3 mx-auto" style="width: 580px;" >
        <div class="card-body">
          <!-- Logo -->
          <div>
            <div class="app-brand justify-content-center text-center mb-4">
              <span class="app-brand-logo demo">
                <img src="{{ asset('build/images/logo.png') }}" height="35" />
              </span>
              <span
                class="app-brand-text demo fw-bolder ms-2"
                style="
                  text-transform: uppercase;
                  color: #5a7db8;
                  font-size: 19px;
                "
                >PHI</span
              >
              <span
                class="app-brand-text demo menu-text fw-bolder ms-1"
                style="font-size: 19px"
                >record</span
              >
            </div>
          </div>

          <hr />

          <center>
            <h4 class="mb-2">Patient Change Password</h4>
             {{ html | raw}}
          </center>

          <div class="row ">
            <!-- Form -->
            <form
              id=""
              class="mb-3 login-form"
              action="/patient/changepassword"
              method="post"
            >
            {{ csrf.fields | raw }}

              <div class="my-5 form-password-toggle">
                <label class="form-label" for="oldPassword">Enter your Old Password:</label>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="oldPassword"
                    class="form-control old-password {{ errors.oldPassword ? 'is-invalid' : '' }}"
                    name="oldPassword"
                    placeholder="Password"
                    aria-describedby="password"
                    required
                  />
                  <span class="input-group-text cursor-pointer"
                    ><i class="eye-old-password-icon bx bx-hide"></i
                  ></span>
                    <div class="invalid-feedback">
                        {{ errors.oldPassword | first }}
                    </div>
                </div>
              </div>

              <div class="mb-5 form-password-toggle">
                <label class="form-label" for="New Password">Enter your New Password: </label>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="password"
                    class="form-control password {{ errors.newPassword ? 'is-invalid' : '' }}"
                    name="newPassword"
                    placeholder="Password"
                    aria-describedby="password"
                    required
                  />
                  <span class="input-group-text cursor-pointer"
                    ><i class="eye-password-icon bx bx-hide"></i
                  ></span>
                   <div class="invalid-feedback">
                        {{ errors.newPassword | first }}
                    </div>
                </div>
              </div>
              <div class="mb-5 form-password-toggle">
                <label class="form-label" for="confirmPassword">Confirm your New Password:</label>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="password"
                    class="form-control confirm-password {{ errors.confirmPassword ? 'is-invalid' : '' }}"
                    name="confirmPassword"
                    placeholder="Password"
                    aria-describedby="password"
                    required
                  />
                  <span class="input-group-text cursor-pointer"
                    ><i class="eye-cpassword-icon bx bx-hide"></i
                  ></span>
                    <div class="invalid-feedback">
                        {{ errors.confirmPassword | first }}
                    </div>
                </div>
              </div>
              <button class="btn btn-primary d-grid w-100 " type="submit">Change Password</button>
            </form>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}