<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta id="csrfName" name="{{ csrf.keys.name }}" content="{{ csrf.name }}">
    <meta id="csrfValue" name="{{ csrf.keys.value }}" content="{{ csrf.value }}">
    <title>{% block title %}Phirecord Patient{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/logo.png') }}" />
     {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('main') }}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('main') }}
            {{ encore_entry_script_tags('config') }}
            {{ encore_entry_script_tags('nav') }}
        {% endblock %}
  </head>

  <body>
    <div class="wrapper">
      <aside id="sidebar">
        <div class="d-flex">
          <button class="toggle-btn" type="button">
       <box-icon name='dashboard' type='solid' rotate='270' color='#ffffff' ></box-icon>             </button>
          <div class="sidebar-logo">
          
            <img src="{{ asset("build/images/logo.png") }}" alt="" width="60px" />
            <a href="#"><span style="color: #5a7db8">PHI</span>record</a>
          </div>
        </div>
        <ul class="sidebar-nav">

          <li class="sidebar-item sidebar__item {{ isActive.dashboard ? 'active' : '' }}">
            <a href="/patient" class="sidebar-link">
            <box-icon name='home-alt-2' type='solid' color='#ffffff' ></box-icon>        
          <span>&nbsp;Dashboard</span>
            </a>
          </li>
          <li class="sidebar-item sidebar__item {{ isActive.profile ? 'active' : '' }}">
            <a href="/patient/profile" class="sidebar-link">
              <box-icon name='user' type='solid' color='#ffffff' ></box-icon>
              <span>&nbsp;Profile</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed has-dropdown sidebar__multi {{ isActive.admissionRecord ? 'active' : '' }}"
              data-bs-toggle="collapse"
              data-bs-target="#admissionForm"
              aria-expanded="false"
              aria-controls="admissionForm"
            >
              <box-icon name='notepad' type='solid' color='#ffffff' ></box-icon>
              <span>&nbsp;Admission Form</span>
            </a>
            <ul
              id="admissionForm"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a href="/patient/admissionform" class="sidebar-link {{ isActive.admissionForm ? 'active-sub' : '' }}" >Admission Record</a>
              </li>
              <li class="sidebar-item">
                <a href="/patient/admissionform/request" class="sidebar-link {{ isActive.admissionRequest ? 'active-sub' : '' }} ">Admission Form Request</a>
              </li>
            </ul>
          </li>

          <li class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed has-dropdown {{ isActive.checkupRecord ? 'active' : '' }}"
              data-bs-toggle="collapse"
              data-bs-target="#checkupForm"
              aria-expanded="false"
              aria-controls="checkupForm"
            >
              <box-icon name='notepad' type='solid' color='#ffffff' ></box-icon>
              <span>&nbsp;Check up Record</span>
            </a>
            <ul
              id="checkupForm"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a href="/patient/checkupform" class="sidebar-link  {{ isActive.checkupForm ? 'active-sub' : '' }}">Checkup Record</a>
              </li>
              <li class="sidebar-item">
                <a href="/patient/checkupform/request" class="sidebar-link {{ isActive.checkupRequest ? 'active-sub' : '' }}">Checkup Form Request</a>
            </ul>
          </li>

          <li class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed has-dropdown {{ isActive.medicalRecord ? 'active' : '' }}"
              data-bs-toggle="collapse"
              data-bs-target="#medicalCertificate"
              aria-expanded="false"
              aria-controls="medicalCertificate"
            >
              <box-icon name='notepad' type='solid' color='#ffffff' ></box-icon>
              <span>&nbsp;Medical Certificate Record</span>
            </a>
            <ul
              id="medicalCertificate"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a href="/patient/medicalform" class="sidebar-link  {{ isActive.medicalForm ? 'active-sub' : '' }}">Medical Certificate Record</a>
              </li>
              <li class="sidebar-item">
                <a href="/patient/medicalform/request" class="sidebar-link {{ isActive.medicalRequest ? 'active-sub' : '' }}">Medical Form Request</a>
            </ul>
          </li>


          <li class="sidebar-item">
            <a href="/patient/changepassword" class="sidebar-link {{ isActive.changePassword ? 'active' : '' }}">
              <box-icon name='cog' color='#ffffff' ></box-icon>
              <span>&nbsp;Setting</span>
            </a>
          </li>
        </ul>
        <div class="sidebar-footer">
          <a href="/patient/logout" class="sidebar-link logout">
           <box-icon name='log-out' color='#fafafa' ></box-icon>
            <span>&nbsp; Logout</span>
          </a>
        </div>
      </aside>

    <div class="main">
     <div class="card card-nav">
      <div class="card-body d-flex justify-content-end">
      <div class="dropdown user-dropdown-menu end " width="20px">
                    <a href="#" class="text-decoration-none d-flex align-items-end" id="userDropDownMenu" data-bs-toggle="dropdown"
                       aria-expanded="false">
                      <box-icon name='user-circle' color='rgb(1 142 252)' ></box-icon>
                        <span class="mr-3">{{ auth.name }}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropDownMenu">
                        <li>
                               <a href="/patient/logout">
                                <button class="dropdown-item" href="#">Log Out</button>
                              <a/>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    </div>
    </div>
    </body>
</html>